@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>To Do List</h1>
    <p class="lead">Bu platform ile daha sonradan yapmak istediğiniz işlerinizi planlayabilir, notlarınızı alabilirsiniz.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Giriş Yap &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hadi Başlayalım</h2>
        <p>
            Bu platform ile daha sonradan yapmak istediğiniz işlerinizi planlayabilir, notlarınızı alabilirsiniz.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Kayıt Ol &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hesabınız var mı?</h2>
        <p>Eğer hesabınız var ise planladığınız işlerinizi görebilir, onları düzenleyebilir ve işlerinizin ne kadar kaldığını görebilirsiniz.</p>
        <p><a class="btn btn-default" href="/Account/Login">Giriş Yap &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Her Yerden Erişin</h2>
        <p>Kolaylıkla istediğiniz her yerden, her cihazdan hesabınıza ulaşabilir, işlemlerinizi gerçekleştirebilirsiniz.</p>
        <p><a class="btn btn-default" href="/Account/Login">Şimdi Dene &raquo;</a></p>
    </div>
</div>